<div class="container">
	<div class="row">
		<section class="col-xs-4">
			<div class="panel panel-default" ng-controller="CheckoutCtrl">
				<div class="panel-heading">
					<h3 class="panel-title">total checked out per week (previous 30 days)</h3>
				</div>
				<canvas id="dashGraph01" class="graph-canvas" width="400" height="400"></canvas>
			</div>
		</section>
		<section class="col-xs-4"></section>
		<section class="col-xs-4" id="tool-nav">
			<!--<h2>tools</h2>-->

			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Tools</h4>
					</div>
					<div class="panel-body">
						<a class="btn btn-primary btn-block" href="#/explore" data-toggle="tooltip" title="Graph data using pre-constructed datasets">set analysis</a>
						<a class="btn btn-primary btn-block" href="#/market" data-toggle="tooltip" title="Visualize current shopping list product distribution">market share</a>
					</div>
				</div>
			</div>




		</section>
	</div>
</div>