<div class="container">
	<div class="row">
		<button class="btn btn-default pull-left" ng-click="$back()">
			<span class="glyphicon glyphicon-chevron-left"></span> back
		</button>
		<button class="btn btn-primary pull-right" ng-click="doStuff()">do stuff
			<span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
	<div class="row">
		<div nvd3-stacked-area-chart data="graphData" width="1000" height="768" showXAxis="true" showYAxis="true" xAxisTickFormat="dateLabel()" interactive="true" tooltips="true" showLegend="true" showControls="true"></div>
		{{ width }}
	</div>
</div>