

<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div class="logo-container">
				<div class="connection01"></div>
				<div class="connection02"></div>
				<div class="connection03"></div>
				<div class="connection04"></div>
				<div class="connection05"></div>
				<div class="connection06"></div>
				<div class="connection07"></div>
				<div class="ball ball-01">

				</div>
				<div class="ball ball-02"></div>
				<div class="ball ball-03"></div>
				<div class="ball ball-04"></div>
				<div class="ball ball-05"></div>
			</div>
			<a href="#/" class="navbar-brand">Avansera Analytics Tool</a>


		</div>

		<div class="pull-right">
			<button class="btn navbar-btn logout-button" ng-click="$logout()">log out</button>
		</div>
	</div>
</header>