<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<form ng-submit="submit()">
			<div class="form-group">
				<label for="register-email">email</label>
				<input id="register-email" name="email" class="form-control" type="email" ng-model="email">
			</div>
			<div class="form-group">
				<label for="register-password">password</label>
				<input id="register-password" name="password" class="form-control" type="password" ng-model="password">
			</div>
			<div class="form-group">
				<label for="register-name">name</label>
				<input id="register-name" name="name" class="form-control" type="text" ng-model="name">
			</div>


			<button type="submit" class="btn btn-primary">submit</button>
		</form>

	</div>
</div>